<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://openbox.org/
                                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">

    <item label="Run">
        <action name="Execute">
            <execute>
                gmrun
            </execute>
        </action>
    </item>

    <separator />

    <item label="Terminal">
        <action name="Execute">
            <execute>
                x-terminal-emulator
            </execute>
        </action>
    </item>
    <item label="Firefox">
        <action name="Execute">
            <execute>
                ~/bin/firefox/firefox
            </execute>
        </action>
    </item>

    <separator />

    <menu id="files" label="Files">
        <item label="File Manager">
            <action name="Execute">
                <execute>
                    thunar
                </execute>
            </action>
        </item>
        <item label="Archive Manager">
            <action name="Execute">
                <execute>
                    file-roller
                </execute>
            </action>
        </item>
        <item label="Filezilla">
            <action name="Execute">
                <execute>
                    filezilla
                </execute>
            </action>
        </item>
    </menu>

    <menu id="dev" label="Development">
        <item label="Sublime Text">
            <action name="Execute">
                <execute>
                    subl
                </execute>
            </action>
        </item>
        <item label="Virtualbox">
            <action name="Execute">
                <execute>
                    virtualbox
                </execute>
            </action>
        </item>
    </menu>

    <menu id="media" label="Media">
        <menu id="media-consumption" label="Consumption">
            <item label="Music">
                <action name="Execute">
                    <execute>
                        /home/johnny/bin/deadbeef-0.6.2/deadbeef
                    </execute>
                </action>
            </item>
            <item label="Movies">
                <action name="Execute">
                    <execute>
                        smplayer
                    </execute>
                </action>
            </item>
            <item label="Photos">
                <action name="Execute">
                    <execute>
                        shotwell
                    </execute>
                </action>
            </item>
            <item label="Comics">
                <action name="Execute">
                    <execute>
                        mcomix
                    </execute>
                </action>
            </item>
        </menu>

        <menu id="media-production" label="Production">
            
            <menu id="media-production-audio" label="Audio">
                <item label="Audacity">
                    <action name="Execute">
                        <execute>
                            audacity
                        </execute>
                    </action>
                </item>
                <item label="LMMS">
                    <action name="Execute">
                        <execute>
                            lmms
                        </execute>
                    </action>
                </item> 
            </menu>

            <menu id="media-production-video" label="Video">
                <item label="Blender">
                    <action name="Execute">
                        <execute>
                            blender
                        </execute>
                    </action>
                </item>           
                <item label="Screencast">
                    <action name="Execute">
                        <execute>
                            kazam
                        </execute>
                    </action>
                </item>
            </menu>

            <separator />
            
            <item label="GIMP">
                <action name="Execute">
                    <execute>
                        gimp
                    </execute>
                </action>
            </item>
            <item label="Burner">
                <action name="Execute">
                    <execute>
                        xfburn
                    </execute>
                </action>
            </item>
        </menu>
    </menu>

    <separator />

    <menu id="admin" label="Admin">
        <item label="arandr">
            <action name="Execute">
                <execute>
                    arandr
                </execute>
            </action>
        </item>

        <item label="Wallpapers">
            <action name="Execute">
                <execute>
                    nitrogen
                </execute>
            </action>
        </item>

        <menu id="ob" label="Openbox">
            <item label="Re-Configure">
                <action name="Reconfigure" />
            </item>
        </menu>

        <item label="Tint2 Restart">
            <action name="Execute">
                <execute>
                    tint2restart
                </execute>
            </action>
        </item>
    </menu>
 
    <separator />

    <item label="Exit">
        <action name="Execute">
            <execute>
                ob-exit
            </execute>
        </action>
    </item>
</menu>

</openbox_menu>
