<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://openbox.org/
                                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">

    <item label="Run">
        <action name="Execute">
            <execute>
                gmrun
            </execute>
        </action>
    </item>

    <separator />

    <item label="Terminal">
        <action name="Execute">
            <execute>
                terminator
            </execute>
        </action>
    </item>
    <item label="Firefox">
        <action name="Execute">
            <execute>
                ~/bin/firefox/firefox
            </execute>
        </action>
    </item>

    <separator />

    <menu id="utilities" label="Utilities">
        <item label="Thunderbird">
            <action name="Execute">
                <execute>
                    thunderbird
                </execute>
            </action>
        </item>
        <menu id="office-menu" label="Office">
            <item label="Spreadsheets">
                <action name="Execute">
                    <execute>
                        libreoffice --calc
                    </execute>
                </action>
            </item>
            <item label="Writer">
                <action name="Execute">
                    <execute>
                        libreoffice --writer
                    </execute>
                </action>
            </item>
            <item label="Presentation">
                <action name="Execute">
                    <execute>
                        libreoffice --impress
                    </execute>
                </action>
            </item>    
            
            <separator />
            
            <item label="LibreOffice">
                <action name="Execute">
                    <execute>
                        libreoffice
                    </execute>
                </action>
            </item>
        </menu>
    </menu>

    <menu id="files" label="Files">
        <item label="File Manager">
            <action name="Execute">
                <execute>
                    thunar
                </execute>
            </action>
        </item>
        <item label="Archive Manager">
            <action name="Execute">
                <execute>
                    file-roller
                </execute>
            </action>
        </item>
        <item label="Filezilla">
            <action name="Execute">
                <execute>
                    filezilla
                </execute>
            </action>
        </item>
    </menu>

    <menu id="dev" label="Development">
        <item label="Sublime Text">
            <action name="Execute">
                <execute>
                    subl3
                </execute>
            </action>
        </item>
        <item label="Atom">
            <action name="Execute">
                <execute>
                    atom
                </execute>
            </action>
        </item>
        <item label="Virtualbox">
            <action name="Execute">
                <execute>
                    virtualbox
                </execute>
            </action>
        </item>
    </menu>

    <menu id="media" label="Media">

        <item label="Music">
            <action name="Execute">
                <execute>
                    deadbeef
                </execute>
            </action>
        </item>
        <item label="Comics">
            <action name="Execute">
                <execute>
                    mcomix
                </execute>
            </action>
        </item>
        <item label="GIMP">
            <action name="Execute">
                <execute>
                    gimp
                </execute>
            </action>
        </item>

        <separator />

        <menu id="media-production-audio" label="Audio">
            <item label="Audacity">
                <action name="Execute">
                    <execute>
                        audacity
                    </execute>
                </action>
            </item>
            <item label="LMMS">
                <action name="Execute">
                    <execute>
                        lmms
                    </execute>
                </action>
            </item>
            <item label="Converter">
                <action name="Execute">
                    <execute>
                        soundconverter
                    </execute>
                </action>
            </item>
        </menu>

        <menu id="media-production-video" label="Video">
            <item label="Blender">
                <action name="Execute">
                    <execute>
                        blender
                    </execute>
                </action>
            </item>
            <item label="Screencast">
                <action name="Execute">
                    <execute>
                        kazam
                    </execute>
                </action>
            </item>
            <item label="Encoder">
                <action name="Execute">
                    <execute>
                        handbrake
                    </execute>
                </action>
            </item>
        </menu>

        <menu id="media-production-dvd" label="DVD">
            <item label="Authoring">
                <action name="Execute">
                    <execute>
                        devede
                    </execute>
                </action>
            </item>
            <item label="Burner">
                <action name="Execute">
                    <execute>
                        xfburn
                    </execute>
                </action>
            </item>
            <item label="Ripper">
                <action name="Execute">
                    <execute>
                        asunder
                    </execute>
                </action>
            </item>
        </menu>

    </menu>

    <separator />

    <menu id="admin" label="Admin">
        <menu id="admin-openbox" label="Openbox">
            <item label="Reconfigure">
                <action name="Reconfigure" />
            </item>
            <item label="Exit">
                <action name="Execute">
                    <prompt>
                        Are you sure you'd like to exit?
                    </prompt>
                    <execute>
                        openbox --exit
                    </execute>
                </action>
            </item>
        </menu>
        <menu id="admin-desktop" label="Desktop">
            <item label="arandr">
                <action name="Execute">
                    <execute>
                        arandr
                    </execute>
                </action>
            </item>
            <item label="Wallpapers">
                <action name="Execute">
                    <execute>
                        nitrogen
                    </execute>
                </action>
            </item>
            <item label="Restart Tint2">
                <action name="Execute">
                    <execute>
                        tint2restart
                    </execute>
                </action>
            </item>
        </menu>
        <item label="XFCE4 Settings">
            <action name="Execute">
                <execute>
                    xfce4-settings-manager
                </execute>
            </action>
        </item>
    </menu>
</menu>
</openbox_menu>
